
.input_form{
   margin-top: 24px;
   padding: 0px 16px 26px 16px;
   border-radius: 16px;
   gap: 8px;
   background: rgba(255, 255, 255, 1);

}

.input-name{
   padding-top: 6px;
   font-size: 20px;
   font-weight: 700;
   line-height: 28px;
   color: rgba(0, 0, 0, 1);
}

#firstName {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}

#lastName {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}
#mail {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}
#phone {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}

#phone::placeholder {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}
#inn {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   width: 100%; 
}

.error-message{
   position: absolute;
   top: 66px;
   left: 1px;
   background: white;
   font-size: 13px;
   font-weight: 400;
   line-height: 16px;
   width: 240px;
   color: red;
   z-index: 100;
}

.error {
   color: red;
}

#phone-error {
   top: 58px;
}

#inn-error {
   left: -1px;
}

.input_label{
   position: absolute;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: rgba(160, 160, 164, 1);
   top: 24px;
}
.input_label-phone {
   position: absolute;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: rgba(160, 160, 164, 1);
   top: 6px;
   font-size: 12px;
   font-weight: 400;
   line-height: 14px;
}
.input_item-wrapper-first {
   position: relative;
   padding-top: 26px;
}
.input_item-wrapper{
   position: relative;
   padding-top: 30px;
}
.input-paddings{
   height: 22px;
}

.input_remark{ 
   font-size: 12px;
   font-weight: 400;
   line-height: 14px;
}

@media (min-width: 1023px) {
   .input_wrapper{
      margin-left: 24px;
      margin-bottom: 49px;
      height: 216px;
   }
   .input_form{
      padding: 16px 24px 42px 24px;
   }
   .input_1024-first_stage{
      display: flex;
      align-items: center;
      height: 64px;
      gap: 24px;
   }
   .input_1024-second_stage{
      display: flex;
      align-items: flex-end;
      height: 60px;
      gap: 13px; }
   }
   .input_item-wrapper-first{
      width: 100%;
   }
   .input_item-wrapper{
      width: 100%;
   }
   .input_item-wrapper{
      width: 100%;
   }
   .input-paddings{
      height: 0;
   }
   .input-name{
      padding-top: 0px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.01em;
   }
   .input_item-wrapper-first{
      padding-top: 38px;
   }
   .input_item-wrapper-first::label{
      opacity: 0;
   }
   .input_label{
      top: 32px;
   }

   .input_item-wrapper {
      padding-top: 37px;
  }

  .input_1024-first_stage{
      gap: 12px;
  }

  .wrapper_1024{
      height: 25px;
  }

  .input_item-wrapper_2014{
      padding-top: 29px;
      padding-right: 0px;
}